{% capture content %}
<div class="content">

<div id="newspaper">
	
	<article>{{body}} POSTS</article>
	
		{% for post in posts limit:20 %}
					
		<article>
			<header><h4><a href="{{post.url}}">{{post.title}}</a></h4></header>
				{{post.body}}
			<footer class="post">Posted on {{post.date | date: "%b %d, %Y"}} by {{post.author.fullname}}</footer>
		</article>
					
		{% endfor %}
				
					{% if parent %}
					<p><a href="{{parent.url}}">&larr; Go back</a></p>
					{% endif %}
					
</div>

</div>

{% endcapture %}

{% include 'layouts/default' %}